@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

$outline-width: 6px;
$shadow-width: 4px;

$button-background: rgb(255, 210, 125);
$sec-button-background: rgb(255, 190, 69);
$shadow-color:  rgb(252, 93, 93);

$alt-button-background: black;
$alt-sec-button-background: #568ce2;
$alt-shadow-color:  grey;

@keyframes animatebottom { 
    from { bottom:-200px; opacity:0; } 
    to { bottom:0; opacity:1; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
#main {
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    background-color: black;
    box-sizing: border-box;
    background-size: cover;
}


#main-game {
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url('/images/flappy-bird-background.gif');
    margin: 0;
    background-color: black;
    box-sizing: border-box;
    background-size: cover;
}

.loadingbar {
    position: absolute;
    top: 25%;
    left: 0%;
}

.main-menu {
    display: none;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    animation-name: animatebottom;
    animation-duration: 3s;
    top: 5vh;
    
    a {
        text-decoration: none;
        color: $alt-button-background;
    }

    h1 {
        font-size: 75px;
        font-family: "Honk", system-ui;
    }

    .main-menu__playButton, .main-menu__scoreButton {
        font-family: 'Press Start 2P', cursive;
        font-size: 21px;
        background: $button-background;
        position: relative;
        top: 7em;
        padding: 10px;
        width: 40%;
        cursor: pointer;
        background-color: none;
        box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-color;
        
        &:hover,
        &:focus {
            background: $sec-button-background;
            box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $shadow-color;
        }
    
        &:active {
            box-shadow: inset $shadow-width $shadow-width 0px 0px $shadow-color;
        }
    
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: content-box;
        }
    
        &:before {
            top: -$outline-width;
            left: 0;
            border-top: $outline-width black solid;
            border-bottom: $outline-width black solid;
        }
    
        &:after {
            left: -$outline-width;
            top: 0;
            border-left: $outline-width black solid;
            border-right: $outline-width black solid;
        }      
    }

    .main-menu__scoreButton {
        position: relative;
        top: 9em;
    }

}

// #game-container {
//     position: relative;
//     width: 400px;
//     height: 500px;
//     background-color: red;
//     border: 1px solid black;
//     margin: auto;
//     overflow: hidden;

//     #blocks {
//         width: 50px;
//         height: 500px;
//         background-color: green;
//         position: relative;
//         left: 400px;
//         animation: block 2s infinite linear;
//     }

//     #holepath {
//         width: 50px;
//         height: 150px;
//         background-color: rgb(76,196,204);
//         position: relative;
//         left: 400px;
//         top: -500px;
//         animation: block 2s infinite linear;
//     }

//     #character-bird {
//         position: absolute;
//         top: 200px;
//         border-radius: 50%;
//         border: 3px solid black;
//     }

//     @keyframes block {
//         0%{left:600px}
//         100%{left:-50px}
//     }

// }

.container {
	height: 100%;
	width: 100vw;
    background-size: cover;
}

.character-bird {
	height: 100px;
	width: 130px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
}

.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 16vw;
	background:radial-gradient(lightgreen 50%, green);
	border: 5px solid black;
}

.message {
	position: absolute;
	z-index: 1;
    font-family: 'Press Start 2P', cursive;
	color: black;
	top: 40%;
	left: 50%;
    width: 80%;
    padding: 30px;
	font-size: 30pX;
	transform: translate(-50%, -50%);
	text-align: center;
}

.messageStyle{
    background-image: linear-gradient(to bottom, #a3f4e8, #99eff1, #96e9f9, #99e2fe, #a1daff);
	box-shadow: #a3f4e8 1px 1px 10px 10px;
    border: 2px solid black;
	border-radius: 8%;
}

.score {
	position: fixed;
	z-index: 1;
	font-size: px;
    text-align: center;
}

.score_val {
    font-size: 75px;
    position: fixed;
    top: 0;
    left: 42%;
    font-family: "Honk", system-ui;
}

@media screen and (min-width: 768px) {
    .message{
		font-size: 50px;
		top: 50%;
		white-space: nowrap;
	}
	.score{
		font-size: 8vh;
	}
	.character-bird{
		width: 120px;
		height: 90px;
	}
	.pipe_sprite{
		width: 8vw;
	}
}